*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #eee;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

::selection {
  background-color: #c8c8c8;
  color: #000; }

.card {
  background-color: #fff;
  transition: transform 0.1s; }
  .card:hover {
    transform: scale(1.005); }
  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .card__title {
    font-size: 2.1rem;
    font-weight: 500;
    padding: 1rem; }
  .card__date {
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 1rem; }
  .card__img-container {
    height: 25rem;
    margin-bottom: 1rem;
    position: relative; }
    .card__img-container--contacts {
      height: 35rem; }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; }
  .card__description {
    padding: 0 1rem 1rem 1rem;
    font-size: 1.5rem; }
  .card__label {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem;
    border-top: 2px solid #eee; }
  .card__icons {
    padding: 0 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem; }
    .card__icons--contacts {
      grid-template-columns: 1fr; }
  .card__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 1rem;
    transition: background-color 0.4s; }
    .card__icon-container:link, .card__icon-container:visited {
      color: #000;
      text-decoration: none; }
    .card__icon-container:hover, .card__icon-container:active {
      cursor: pointer;
      background-color: #c8c8c8; }
    .card__icon-container--contacts {
      flex-direction: row;
      justify-content: start;
      padding: 0; }
  .card__icon-container:hover .card__icon {
    filter: blur(1px); }
  .card__icon {
    padding: 1.5rem;
    max-width: 10rem;
    max-height: 10rem; }
    .card__icon--contacts {
      padding: 2rem;
      max-width: 7rem;
      max-height: 7rem; }
  .card__icon-title {
    font-size: 1.7rem;
    font-weight: 500; }

.about {
  width: 95%;
  max-width: 125rem;
  margin: auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 5rem;
  align-items: start; }

.contacts {
  width: 95%;
  max-width: 125rem;
  margin: auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 5rem;
  align-items: start; }

.nav {
  width: 95%;
  max-width: 125rem;
  margin: auto;
  background-color: #fff;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__branding {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem; }
  .nav__list {
    list-style: none;
    display: flex; }
  .nav__item {
    padding: 1rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    text-decoration: none; }

.portfolio {
  width: 95%;
  max-width: 125rem;
  margin: auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-gap: 5rem;
  align-items: start; }
