.btn-primary {
    font-family: inherit;
    font-size: $font-default;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: $color-orange;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all $transition-fast;
    }

    &--visible {
        padding: 1rem 4rem;
    }

    &--invisible {
        position: absolute;
        top: -100%;
        left: 0;
        padding: 1rem;
    }

    &:hover &--visible {
        transform: translateY(100%);
    }

    &:hover &--invisible {
        top: 0;
    }
}
