.form {
    display: flex;
    flex-direction: column;

    &__block {
        padding: 1rem;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 1rem;
        font-family: inherit;
        font-size: $font-small;
    }

    &__label {
        display: inline-block;
        font-size: $font-small;
        font-weight: 700;
        background-color: $color-grey;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__dropzone {
        margin-right: 2.5rem;

        &-container {
            display: flex;
            align-items: center;
            margin: 1rem;
        }

        &-preview {
            width: 10rem;
            height: 10rem;
            cursor: pointer;
        }

        &-icon {
            display: block;
            width: 10rem;
            height: 10rem;
            padding: 1.5rem;
            cursor: pointer;
            background-color: $color-grey;
            transition: $transition-fast ease-out;

            &:hover {
                background-color: $color-grey-dark;
            }
        }
    }

    &__error {
        color: $color-error;
        font-size: $font-baby;
        font-weight: 700;
        margin-left: 1rem;
    }

    &__button {
        margin: 1rem;
        padding: 1rem;
        font-family: inherit;
        font-size: $font-default;
        font-weight: 700;
        background-color: $color-grey;
        border: none;
        transition: $transition-fast ease-out;
        cursor: pointer;

        &:link,
        &:visited {
            text-align: center;
            text-decoration: none;
            color: $color-text;
        }

        &:hover {
            background-color: $color-grey-dark;
        }
    }
}
