@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px

    @media only screen and (max-width: $bp-medium) {
        font-size: 56.25%; // 9px
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 50%; // 8px
    }
}

body {
    background-color: $color-grey;
    font-family: 'Roboto', sans-serif;
    color: $color-text;
    line-height: 1.6;
}

::selection {
    background-color: darken($color-grey, 5%);
    color: $color-text;
}
