// COLORS

$color-grey: #eee;
$color-white: #fff;
$color-text: #111;
$color-orange: #f90;
$color-error: #dd2c00;

// RESPONSIVE BREAKPOINTS
// $bp-large: 62.5em; // 1000px
$bp-medium: 40em; // 640px
$bp-small: 25em; // 400px
