.about {
    @include container;

    padding: 2.5rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 5rem;
    align-items: start;
    grid-auto-flow: dense;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }
}
