.admin {
    @include container;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5rem;

    &-left {
        padding: 1rem;
        background: $color-white;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        align-content: start;
    }

    &-right {
        background: $color-white;

        &__item {
            padding: 1rem;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem;
            justify-items: stretch;
        }

        &__title {
            font-size: $font-default;
            padding: 0.5rem;
            background: $color-grey;
            grid-column: span 2;
        }
    }

    &__btn {
        padding: 0.5rem;
        font-family: inherit;
        font-size: $font-small;
        font-weight: 400;
        text-align: center;
        background-color: $color-grey;
        border: none;
        transition: $transition-fast ease-out;
        cursor: pointer;

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-text;
        }

        &:hover {
            background-color: $color-grey-dark;
        }
    }
}

.login {
    background-color: $color-white;
    width: 95%;
    max-width: 50rem;
    margin: 2.5rem auto;
}
