.contacts {
    @include container;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: $gap-outer;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }

    &__card {
        background-color: $color-white;
        padding: $gap-inner;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__city {
        max-width: 20rem;
        max-height: 20rem;
    }

    &__icons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $gap-inner;
        width: 100%;

        &--item {
            display: flex;
            align-items: center;
            background-color: $color-grey;
            transition: $transition-slow background-color;

            &:link,
            &:visited {
                color: $color-text;
                text-decoration: none;
            }

            &:hover,
            &:active {
                cursor: pointer;
                background-color: $color-grey-darkest;
            }
        }

        &--item:hover &--svg {
            filter: blur(1px);
        }

        &--svg {
            padding: 2rem;
            width: 7rem;
            height: 7rem;
        }

        &--label {
            font-size: $font-small;
            font-weight: 500;
        }
    }
}
