.landing {
    @include container;

    padding: 2.5rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 5rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }

    &__card {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2.5rem;

        &:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__avatar {
        margin-bottom: 2.5rem;
        width: 25rem;
        height: 25rem;
    }

    &__header {
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
    }

    &__span {
        text-transform: uppercase;
        font-weight: 700;
        color: $color-orange;
    }

    &__label {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 1rem;
    }

    // .card {
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     z-index: 15;
    // }
}
