.landing {
    @include container;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: 5rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }

    &__card {
        background-color: $color-white;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__avatar {
        max-width: 45rem;
        max-height: 45rem;
    }

    &__header {
        font-size: $font-header;
        text-transform: uppercase;
    }

    &__text {
        font-size: $font-default;
        font-weight: 400;
        text-align: center;
    }

    &__label {
        font-size: $font-default;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 2.5rem;

        &-secondary {
            font-size: $font-small;
            font-weight: 300;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
}
